body{
	margin: 0;
	padding: 5% 10% 0% 10%;
	font-family: 'Poppins', sans-serif
  }
  body::before{
	  content: '';
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: -1;
	  background-image: linear-gradient(rgba(34, 39, 82,0.5), rgba(55, 13, 122,0.5) ), url(https://img.freepik.com/free-photo/closeup-developer-hands-typing-code-keyboard-while-looking-computer-screens-with-programming-interface-software-programmer-sitting-desk-with-clipboard-writing-algorithm_482257-33551.jpg?w=1060&t=st=1663836307~exp=1663836907~hmac=f99da9e314433e8280dd356219c47cefbd75780681c585b383a82cef4bb3c59c);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
  }

  h1, p{
	color: white;
	text-align: center
  }

  div{
	background-color: rgba(34, 39, 82,0.9);
	padding-top: 22px;
	padding-right: 27px;
	padding-bottom: 22px;
	padding-left:27px;
	color: white;
	border-radius: 7px
  }

  fieldset{
	border: none;
	padding: 0
  }

  label{
	display: block;
	padding: 10px 0px;
	margin: 0;
	width: 100%;
  }

  input, textarea, select{
	width: 100%;
	height: 2em;
  }

  input[type="checkbox"]{
	height: 1em
  }

  input[type="checkbox"], input[type="radio"]{
	width: 20px
  }

  input[type="checkbox"]{
	border-bottom: 100px
  }

  .inline{
	width: unset
  }

  .placeholder{
	font-family: 'Poppins', sans-serif
  }

  form{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2em
  }

  input[type="submit"]{
	display: block;
	height: 3em;
	width: 100%;
	margin: 1em auto;
	background-color: rgb(30,180,100);
	color: white;
	border: none;
	border-radius: 2px
  }
